a:-webkit-any-link{
    color: white;
    text-decoration:none !important;
}



body {
    background-color: black;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: no wrap;
    height: 100px;
    max-width: 85%;
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
}

#logo {
    flex: 1;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

#navBar {
    flex: 3;
    color: white;
    font-family: 'Montserrat';
    justify-content: center;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

#navBar a {
    margin-left: 30px;
}

.serieContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.serieBloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px 10px;
    flex: 1 0 25%;
    max-width: 20%;
    height: 250px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 20px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.serieBloc h3 {
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 26px;
}

.serieBloc:hover h3 {
    opacity: 1;
}

.serieBloc h4 {
    color: blue;
}

.serieImage {
    flex: 1;
}

.serieImage img{
    max-width: 300px;
    border: 1px solid black;
    border-radius: 20px;
}

.detailTexte {
    display: flex;
    flex: 2;
    flex-direction: column;
    margin: 10px;
    font-family: 'Montserrat';
}

.serieTitre {
    flex: 1;
    font-size: 36px;
    color: white;
    margin-left: 10px;
}

.serieTitre h3 {
    margin-bottom: 10px;
}

.serieType {
    flex: 1;
    color: white;
    margin-left: 10px;
    font-size: 20px;
}

.serieResume {
    flex: 3;
    color: white;
    margin: 10px;
}

.serieRating {
    flex: 1;
    color: white;
    margin: 10px;
    
}

.listeEpisodes {
    flex: 1;
    color: white;
    margin: 10px;
    font-family: 'Montserrat';
}

.detailContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: no wrap;
    height: 500px;
    max-width: 85%;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.titreRecom {
    color: white;
    font-size: 26px;
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#burgerNav {
    display: none;
}

@media only screen and (max-width: 425px) {
    #logo {
        flex: 2;
        
        margin-top: auto;
        margin-bottom: auto;
        margin: 0px;
    }

    #logo img {
        width: 100%;
        margin-top: 10%;
    }

    #navBar {
        display: none;
    }

    #burgerNav {
        display: initial;
        flex: 1;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        color: white;
    }

    .serieContainer {
        flex-direction: column;
        flex-wrap: nowrap;
        
    }

    .serieBloc {
        background-image: none !important;
        background-color: black;
        min-width: 200px;
        max-height: 50px;
        border-radius: 0px;
        border: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .serieTitre a h3{
        opacity: 1;
        color: white;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        font-size: 20px;
    }
}